@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, white 80%, #6dd9ed 100%);
}

@media (max-width: 768px) {
  .bg {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, white 50%, #6dd9ed 100%);
  }
}
/* 64ddee */
/* 6dd9ed */
